body {
    font-family: Arial, Helvetica, sans-serif;
}

.todo-grid,
.todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.todo-input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}

.todo-name-input,
.todo-date-input {
    font-size: 15px;
    padding: 6px;
    cursor: pointer;

}

.todo-add-button{
    background-color: green;
    color: white;
    border: none;
    font-family: 12px;
    cursor: pointer;
}

.todo-delete-button{
    background-color: red;
    color: white;
    font-size: 12px;
    border: none;
    padding: 10px 0;
    cursor: pointer;
}